<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67556184584-eq6oj80eg4ne6kicu561a45ooc8l0ugc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67556184584-eq6oj80eg4ne6kicu561a45ooc8l0ugc</string>
	<key>API_KEY</key>
	<string>AIzaSyA1nco-6bDyAz-B16McJLT4FeZ2yw8HPjE</string>
	<key>GCM_SENDER_ID</key>
	<string>67556184584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hrnoh.hansung.ac.kr.project-1971048-nhr</string>
	<key>PROJECT_ID</key>
	<string>sleeptime-45ba1</string>
	<key>STORAGE_BUCKET</key>
	<string>sleeptime-45ba1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67556184584:ios:0a93dbd20a6ab23d28f7bd</string>
</dict>
</plist>